<!doctype html>
<html>
  <head>
    <title>Ed and Alan's chatroom</title>
    <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
  </head>
  <body>
    <h1>
      Chatterbox
    </h1>
    <form id="enter-name" action="#">
      Please enter your name: <input id="name" type="text" name="name">
      <button>Start chatting!</button>
    </form>
    <article>
      <ul id="messages"></ul>
      <ul id="users-present">
        <h3>Users present:</h3>
        <br>
      </ul>
    </article>
    <ul id="typing-update"></ul>
    <form id="chat-form" action="#">
      <input id="message-text" type="text" autocomplete="off"/>
      <button>Send</button>
    </form>
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
    <script src='/js/chat.js'></script>
    <script src="http://code.jquery.com/jquery-2.1.1.js"></script>
  </body>
</html>
